html {
    @apply font-base font-normal text-black scroll-smooth;
    -webkit-tap-highlight-color: transparent;
}

body {
    @apply relative
        min-h-[100dvh]
        min-w-[320px]
        text-[16px];

    &.is-modal-open,
    &.is-offcanvas-open {
        @apply overflow-hidden;
    }
}

.centered {
    @apply w-[1366px] max-w-full mx-auto px-5;
}

[hidden] {
    @apply hidden;
}

[v-cloak] {
    @apply hidden;
}

a:not(a[class]) {
    @apply text-link
        hover:text-link
        hover:underline;
}

::selection {
    @apply text-white
        bg-accent;
}

::-webkit-scrollbar {
    @apply w-1.5;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply rounded-sm
        bg-black 
        bg-opacity-40;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-opacity-60;
}

.test-glb-canvas {
    @apply w-full
        h-full
        fixed
        left-0
        right-0
        top-0
        bottom-0
        bg-dark
        z-[1000];
}
